<configuration>
  <appender name="out" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.JsonEncoder"/>
  </appender>
  <root level="INFO"><appender-ref ref="out"/></root>
  <logger name="com.zaxxer.hikari" level="WARN"/>
  <logger name="io.ktor" level="WARN"/>
</configuration>
